---
import Hamburglar from "../components/Hamburglar.astro";
import Side from "../components/Side.astro";
---

<script>
  import hljs from "highlight.js";

  function escapeHtml(html) {
    return html
      .replace(/&/g, "&amp;")
      .replace(/</g, "&lt;")
      .replace(/>/g, "&gt;")
      .replace(/"/g, "&quot;")
      .replace(/'/g, "&#39;");
  }

  function unescapeHtml(escapedHtml) {
    return escapedHtml
      .replace(/&lt;/g, "<")
      .replace(/&gt;/g, ">")
      .replace(/&amp;/g, "&")
      .replace(/&quot;/g, '"')
      .replace(/&#39;/g, "'");
  }

  function formatHtml(html) {
    const temp = document.createElement("div");
    temp.innerHTML = html;

    temp.querySelectorAll("svg").forEach((svg) => svg.remove());

    let cleanedHtml = temp.innerHTML;

    let formatted = "";
    let indent = 0;

    const tokens = cleanedHtml.split("<");

    for (let token of tokens) {
      if (!token) continue;

      token = "<" + token;

      if (token.match(/^<\//)) {
        indent--;
      }

      formatted += "\n" + "  ".repeat(indent);
      formatted += token;

      if (
        token.match(/^<[^/]/) &&
        !token.match(/\/>$/) &&
        !token.match(/<(img|br|hr|input)/)
      ) {
        indent++;
      }
    }

    return formatted.trim();
  }

  document.addEventListener("DOMContentLoaded", () => {
    const source = document.body.outerHTML;
    const formattedHtml = formatHtml(source);
    const escapedHtml = escapeHtml(formattedHtml);
    const sourceHere = document.getElementById("sourceHere");
    sourceHere.insertAdjacentHTML(
      "beforeend",
      `<code class="language-html">${escapedHtml}</code>`
    );
    hljs.highlightElement(sourceHere.querySelector("code"));
  });
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" sizes="any" />
    <link
      rel="alternate icon"
      type="image/png"
      href="/favicon.png"
      sizes="32x32"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Ken Jones Pizza</title>
  </head>
  <body class="bg-gray text-white font-sans">
    <pre
      class="opacity-20 text-wrap font-code text-xs absolute w-screen h-screen overflow-hidden inset-0"
      id="sourceHere">
    <div class="absolute bottom-0 w-screen h-[20vh] bg-gradient-to-t from-gray to-transparent" />
    </pre>

    <div class="page-wrapper relative">
      <div class="flex relative gap-20">
        <Side />
        <Hamburglar />
        <slot name="hero" />
      </div>
      <slot />
    </div>
  </body>

  <style is:global>
    /* Unscoped, delivered as-is to the browser. */

    @import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

    /* Add highlight.js theme CSS */
    @import url("highlight.js/styles/panda-syntax-dark.css");

    @font-face {
      font-family: "GreycliffCF";
      font-weight: 100;
      src:
        url("/fonts/greycliff/GreycliffCF-Thin.woff2") format("woff2"),
        url("/fonts/greycliff/GreycliffCF-Thin.woff") format("woff");
      font-display: swap;
    }
    @font-face {
      font-family: "GreycliffCF";
      font-weight: 100;
      font-style: italic;
      src:
        url("/fonts/greycliff/GreycliffCF-ThinOblique.woff2") format("woff2"),
        url("/fonts/greycliff/GreycliffCF-Thin.woff") format("woff");
      font-display: swap;
    }
    @font-face {
      font-family: "GreycliffCF";
      font-weight: 200;
      src:
        url("/fonts/greycliff/GreycliffCF-ExtraLight.woff2") format("woff2"),
        url("/fonts/greycliff/GreycliffCF-ExtraLight.woff") format("woff");
      font-display: swap;
    }
    @font-face {
      font-family: "GreycliffCF";
      font-weight: 200;
      font-style: italic;
      src:
        url("/fonts/greycliff/GreycliffCF-ExtraLightOblique.woff2")
          format("woff2"),
        url("/fonts/greycliff/GreycliffCF-ExtraLight.woff") format("woff");
      font-display: swap;
    }
    @font-face {
      font-family: "GreycliffCF";
      font-weight: 300;
      src:
        url("/fonts/greycliff/GreycliffCF-Light.woff2") format("woff2"),
        url("/fonts/greycliff/GreycliffCF-Light.woff") format("woff");
      font-display: swap;
    }
    @font-face {
      font-family: "GreycliffCF";
      font-weight: 300;
      font-style: italic;
      src:
        url("/fonts/greycliff/GreycliffCF-LightOblique.woff2") format("woff2"),
        url("/fonts/greycliff/GreycliffCF-Light.woff") format("woff");
      font-display: swap;
    }
    @font-face {
      font-family: "GreycliffCF";
      font-weight: 400;
      src:
        url("/fonts/greycliff/GreycliffCF-Regular.woff2") format("woff2"),
        url("/fonts/greycliff/GreycliffCF-Regular.woff") format("woff");
      font-display: swap;
    }
    @font-face {
      font-family: "GreycliffCF";
      font-weight: 400;
      font-style: italic;
      src:
        url("/fonts/greycliff/GreycliffCF-RegularOblique.woff2") format("woff2"),
        url("/fonts/greycliff/GreycliffCF-Regular.woff") format("woff");
      font-display: swap;
    }
    @font-face {
      font-family: "GreycliffCF";
      font-weight: 500;
      src:
        url("/fonts/greycliff/GreycliffCF-Medium.woff2") format("woff2"),
        url("/fonts/greycliff/GreycliffCF-Medium.woff") format("woff");
      font-display: swap;
    }
    @font-face {
      font-family: "GreycliffCF";
      font-weight: 500;
      font-style: italic;
      src:
        url("/fonts/greycliff/GreycliffCF-MediumOblique.woff2") format("woff2"),
        url("/fonts/greycliff/GreycliffCF-Medium.woff") format("woff");
      font-display: swap;
    }
    @font-face {
      font-family: "GreycliffCF";
      font-weight: 600;
      src:
        url("/fonts/greycliff/GreycliffCF-DemiBold.woff2") format("woff2"),
        url("/fonts/greycliff/GreycliffCF-DemiBold.woff") format("woff");
      font-display: swap;
    }
    @font-face {
      font-family: "GreycliffCF";
      font-weight: 600;
      font-style: italic;
      src:
        url("/fonts/greycliff/GreycliffCF-DemiBoldOblique.woff2")
          format("woff2"),
        url("/fonts/greycliff/GreycliffCF-DemiBold.woff") format("woff");
      font-display: swap;
    }
    @font-face {
      font-family: "GreycliffCF";
      font-weight: 700;
      src:
        url("/fonts/greycliff/GreycliffCF-Bold.woff2") format("woff2"),
        url("/fonts/greycliff/GreycliffCF-Bold.woff") format("woff");
      font-display: swap;
    }
    @font-face {
      font-family: "GreycliffCF";
      font-weight: 700;
      font-style: italic;
      src:
        url("/fonts/greycliff/GreycliffCF-BoldOblique.woff2") format("woff2"),
        url("/fonts/greycliff/GreycliffCF-Bold.woff") format("woff");
      font-display: swap;
    }
    @font-face {
      font-family: "GreycliffCF";
      font-weight: 800;
      src:
        url("/fonts/greycliff/GreycliffCF-ExtraBold.woff2") format("woff2"),
        url("/fonts/greycliff/GreycliffCF-ExtraBold.woff") format("woff");
      font-display: swap;
    }
    @font-face {
      font-family: "GreycliffCF";
      font-weight: 800;
      font-style: italic;
      src:
        url("/fonts/greycliff/GreycliffCF-ExtraBoldOblique.woff2")
          format("woff2"),
        url("/fonts/greycliff/GreycliffCF-ExtraBold.woff") format("woff");
      font-display: swap;
    }
    @font-face {
      font-family: "GreycliffCF";
      font-weight: 900;
      src:
        url("/fonts/greycliff/GreycliffCF-Heavy.woff2") format("woff2"),
        url("/fonts/greycliff/GreycliffCF-Heavy.woff") format("woff");
      font-display: swap;
    }
    @font-face {
      font-family: "GreycliffCF";
      font-weight: 900;
      font-style: italic;
      src:
        url("/fonts/greycliff/GreycliffCF-HeavyOblique.woff2") format("woff2"),
        url("/fonts/greycliff/GreycliffCF-Heavy.woff") format("woff");
      font-display: swap;
    }

    body {
      font-family: GreycliffCF, system-ui, sans-serif;
      @apply bg-white antialiased;
    }
  </style>
</html>
